<header id="header">
	<h1><a href="https://github.com/jdjuan/ng-notyf" class="icon fa-github"></a> NG-NOTYF</h1>
	<p>👻 A dead simple notification library for Angular 👻 </p>
		<a href="#" (click)="success($event)" class="action-button shadow animate green">Success</a>
		<a href="#" (click)="error($event)" class="action-button shadow animate red">Error</a>
</header>
<footer>
	<div>
		
	</div>
	Made with ❤️️ by <a class="credits" href="http://twitter.com/jdjuan">@jdjuan</a> and <a class="credits" href="https://twitter.com/caroso1222">@caroso1222</a>
</footer>